header.header
  .header__menu
    a.logo(href="./")
      img.logo__image(src='./montysot/img/logo.png')
    nav.mainMenu
      ul.mainMenu__list
        li.mainMenu__item
          a.mainMenu__link(href='#') Kinderwagen
        li.mainMenu__item
          a.mainMenu__link(href='#') Hochstuhle
        li.mainMenu__item
          a.mainMenu__link(href='#') Autositze
        li.mainMenu__item
          a.mainMenu__link(href='#') Babytragen
        li.mainMenu__item
          a.mainMenu__link(href='#') Kinderzimmer
    ul.iconSet
      li.iconSet__item
        a.iconSet__link.iconSet__link_mapMarker(href="#")
      li.iconSet__item
        a.iconSet__link.iconSet__link_search(href="#")
      li.iconSet__item
        a.iconSet__link.iconSet__link_user(href="#")
      li.iconSet__item
        a.iconSet__link.iconSet__link_shoppingCart(href="#")
  .slider
    include _slider
