ul.slider__list
  li.slider__item.slider__item_active
    h3.slider__title Slider #1
  li.slider__item
    h3.slider__title Slider #2
  li.slider__item
    h3.slider__title Slider #3

a.slider__buttomLeft &#10094
a.slider__buttomRight &#10095

ul.slider__dots
  li.slider__dotsItem.slider__dotsItem_active
  li.slider__dotsItem
  li.slider__dotsItem