section.triggerBlock4.imageTrigger
  .triggerBlock2__textTrigger.textTrigger
    h2.textTrigger__title Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
      