section.triggerBlock7.whiteTrigger
  .triggerBlock7__contentBlock.contentBlock
    .contentBlock__imgBlock
      img.contentBlock__img(src='./montysot/img/trigger-block-1.jpg')
    .contentBlock__textBlock
      h2.contentBlock__title Die Besten Stoffe für die Kleinsten unter uns. 
      p.contentBlock__text Für unsere Kinderwagen verwenden wir ausschließlich geprüfte Textilien ohne Schadstoffe. Alle Textilien, die in den Kinderwagen verarbeitet werden, wurden nach OEKO-TEX® Standard 100 geprüft und zertifiziert.
      h3.contentBlock__subtitle Lorem ipsum dolor sit amet, consectetuer adipiscing elit
      a.contentBlock__button(href='#') Zum Kinderwagen