section.triggerBlock5.whiteTrigger
  .triggerBlock1__contentBlock.contentBlock
    .contentBlock__imgBlock
      img.contentBlock__img(src='./montysot/img/trigger-block-1.jpg')
    .contentBlock__textBlock
      h2.contentBlock__title Quisque rutrum
      p.contentBlock__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
      h3.contentBlock__subtitle Lorem ipsum dolor sit amet, consectetuer adipiscing elit
      a.contentBlock__button(href='#') Zum Kinderwagen