section.triggerBlock9.whiteTrigger
  .triggerBlock9__contentBlock.contentBlock
    .contentBlock__imgBlock
      img.contentBlock__img(src='./montysot/img/trigger-block-1.jpg')
    .contentBlock__textBlock
      h2.contentBlock__title Quisque rutrum
      p.contentBlock__text Durchdachte Kinderwagen Funktionalität, die den Eltern Alltag leichter macht.
      h3.contentBlock__subtitle Lorem ipsum dolor sit amet, consectetuer adipiscing elit
      a.contentBlock__button(href='#') Zum Kinderwagen