section.triggerBlock1.whiteTrigger
  .triggerBlock1__timer.timer
    .timer__clockface
      span.timer__icon
      span.timer__value 18 h 15 m 39 s
    p.timer__description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
  .triggerBlock1__contentBlock.contentBlock
    .contentBlock__textBlock
      h2.contentBlock__title Ein Multitasker der neuen Generation. 
      p.contentBlock__text Du bist auf der Suche nach einem Kinderwagen mit vielen Funktionen und das zum einen fairen Preis und wo man nicht auf das Design und die Sicherheit Verzichten muss? Dann ist der Montysot Kinderwagen genau das was du gesucht hast!
      h3.contentBlock__subtitle Lorem ipsum dolor sit amet, consectetuer adipiscing elit
    .contentBlock__imgBlock
      img.contentBlock__img(src='./montysot/img/trigger-block-1.jpg')
  .triggerBlock1__feature.feature
    h3.fuature__title Lorem ipsum dolor sit amet, consectetuer:
    ul.fuature__list
      li.feature__item Design
      li.feature__item Funktionalitat
      li.feature__item Sicherheit
      li.feature__item Materialien