section.triggerBlock2
  .triggerBlock2__textTrigger.textTrigger
    h2.textTrigger__title Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
      