doctype html
html(lang='en-EN')
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Montysot
    link(rel='stylesheet' type='text/css' href='./css/style.css')
    script(src='./js/actions-min.js')
  body
    .content
      include ./pages_blocks/_header.pug
      include ./pages_blocks/_trigger-block-1
      include ./pages_blocks/_trigger-block-2
      include ./pages_blocks/_trigger-block-3
      include ./pages_blocks/_trigger-block-4
      include ./pages_blocks/_trigger-block-5
      include ./pages_blocks/_footer.pug