.triggerBlock5::before {
  top: 0;
  left: 0;
  transform-origin: 0 0;
  transform: rotate(-2deg);
}
.triggerBlock5::after {
  bottom: 0;
  right: 0;
  transform-origin: 100% 100%;
  transform: rotate(-2deg);
}