.triggerBlock5 {
  margin-bottom: 0;
  padding-bottom: 0;
}
.triggerBlock5::before {
  top: 0;
  left: 0;
  transform-origin: 0 0;
  transform: rotate(-2deg);
}
.triggerBlock5::after {
  display: none;
}

@media screen and (orientation: portrait), 
(max-width: 800px) {
  .triggerBlock5::before,
  .triggerBlock5::after {
    display: none;
  }
}