.triggerBlock9 {
  margin-bottom: 0;
  padding-bottom: 0;
}
.triggerBlock9::before {
  top: 0;
  left: 0;
  transform-origin: 0 0;
  transform: rotate(-2deg);
}
.triggerBlock9::after {
  display: none;
}

@media screen and (orientation: portrait), 
(max-width: 800px) {
  .triggerBlock9::before,
  .triggerBlock9::after {
    display: none;
  }
}