.triggerBlock1::before {
  top: 0;
  left: 0;
  transform-origin: 0 0;
  transform: rotate(-2deg);
}
.triggerBlock1::after {
  bottom: 0;
  left: 0;
  transform-origin: 0 100%;
  transform: rotate(2deg);
}

@media screen and (orientation: portrait), 
(max-width: 800px) {
  .triggerBlock1::before,
  .triggerBlock1::after {
    display: none;
  }
}