.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
}
.timer__clockface {
  display: flex;
  align-items: center;
  height: 2em;
  background-color: #02466b;
  line-height: 2em;
  color: #c0e40e;
  margin-right: 2em;
}
.timer__clockface::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
  border-left: .6em solid #02466b;
  border-right: .6em solid transparent;
  border-top: 1em solid transparent; 
  border-bottom: 1em solid transparent; 
  margin-right: -1.2em;
  line-height: 2em;
}
.timer__icon {
  display: block;
  height: 1.8em;
  width: 1.8em;
  background-image: url('../montysot/img/svg/alarm.svg');
  background-size: contain;
}
.timer__value {
  display: block;
  font-weight: bold;
  line-height: 2em;
  margin-right: .3em;
}
.timer__description {
  line-height: 1em;
  white-space: nowrap;
}

.contentBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 4em;
}
.contentBlock__textBlock {
  width: 50%;
  text-align: center;
  padding: 0 2em;
}
.contentBlock__title {
  color: #02466b;
  font-size: 2em;
}
.contentBlock__text {
  font-size: 1em;
  line-height: 1.6em;
}
.contentBlock__subtitle {
  font-size: 1em;
  line-height: 1.6em;  
  color: #02466b;
}
.contentBlock__button {
  display: inline-block;
  margin: 1em;
  padding: 0.4em 1em;
  color: #fff;
  text-decoration: none;
  border-radius: .3em;
  background-color: #fa5b31;
  border: .1em solid transparent;
  transition: all 100ms ease-in-out;
}
.contentBlock__button:hover {
  border-color: #fa5b31;
  background-color: transparent;
  color: #fa5b31;
}
.contentBlock__imgBlock {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contentBlock__img {
  max-height: 50vh;
  width: auto;
}


.fuature__title {
  text-align: center;  
  font-size: 1em;
  line-height: 1.6em;
}
.fuature__list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.feature__item {
  list-style: none;
  display: block;
  width: 8em;
  height: 8em;
  background-color: #02466b;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 8em;
  margin: 1em;
}

.textTrigger {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  position: relative;
  z-index: 50;
}
.textTrigger__title {
  max-width: 60%;
  text-align: center;
  font-size: 2.4em;
  line-height: 1.2em;
  color: #fff;
  text-shadow: 0 0 .2em #333;
}

.whiteTrigger {
  width: 100%;
  background-color: #fff;
  position: relative;
  z-index: 100;  
  padding: 1em;
  box-sizing: border-box;
  margin-top: 3.492vw;
  margin-bottom: 3.492vw;
}
.whiteTrigger::before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  width: 110vw;
  height: 5vw;
  background-color: #fff;
}
.whiteTrigger::after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  width: 110vw;
  height: 5vw;
  background-color: #fff;
}

.imageTrigger {
  position: relative;
  width: 100%;
  min-height: 50vh;
  background-size: cover;
  background-attachment: fixed;  
  margin-top: -3.492vw;
  margin-bottom: -3.492vw;
}
.imageTrigger::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, .4);
}

@media screen and (orientation: portrait), 
(max-width: 800px) {
  .timer {
    margin: 0;
    flex-direction: column-reverse;
  }
  .timer__clockface {
    position: relative;
    margin-right: 0;
  }
  .timer__clockface::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-right: 0;
    transform-origin: 0 0;
    transform: rotate(-90deg) translateY(-1em);
  }
  .timer__description {
    line-height: 1.6em;
    white-space: pre-wrap;
    text-align: center;
    margin-bottom: 1.2em;
  }

  .contentBlock {
    padding: 1em 0;
    flex-direction: column;
  }
  .contentBlock__textBlock {
    width: auto;
    padding: 0;
  }
  .contentBlock__title {
    font-size: 1.8em;
    line-height: 1.6em;
  }

  .fuature__list,
  .fuature__title {
    display: none;
  }

  .textTrigger__title {
    font-size: 1.2em;
    line-height: 1.6em;
    max-width: 85%;
  }
}

@media screen and (orientation: landscape) 
and (max-width: 800px)
and (min-width: 400px) {
  .contentBlock__img {
    max-height: 90vh;
  }
}