
.triggerBlock3::before {
  top: 0;
  right: 0;
  transform-origin: 100% 0;
  transform: rotate(2deg);
}
.triggerBlock3::after {
  bottom: 0;
  right: 0;
  transform-origin: 100% 100%;
  transform: rotate(-2deg);
}

@media screen and (orientation: portrait), 
(max-width: 800px) {
  .triggerBlock3::before,
  .triggerBlock3::after {
    display: none;
  }
}